# User service for Rclone mounting
#
# Place in ~/.config/systemd/user/
# File must include the '@' (ex rclone@.service)
# As your normal user, run 
#   systemctl --user daemon-reload
# You can now start/enable each remote by using rclone@<remote>
#   systemctl --user enable --now rclone@dropbox

[Unit]
Description=Run Moonlight
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/moonlight-qt
Restart=on-failure

[Install]
WantedBy=default.target