[Unit]
Description=Run Moonlight
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment="QT_QPA_EGLFS_KMS_CONFIG={{ ansible_facts['env']['HOME'] }}/.config/eglfs.json"
ExecStart=/usr/bin/moonlight-qt
Restart=always
RestartSec=5

[Install]
WantedBy=default.target